In [4]:
print("Data Science Tools and Ecosystem")

Data Science Tools and Ecosystem

In [5]:
print("In this notebook, Data Science Tools and Ecosystem are summarized.")

In this notebook, Data Science Tools and Ecosystem are summarized.

In [7]:
print("Some of the popular languages that Data Scientists use are:")
a = ["Python", "R", "SQL", "JAVA", "SWIFT"]
s = sorted(a)
print(s)

Some of the popular languages that Data Scientists use are:
['JAVA', 'Python', 'R', 'SQL', 'SWIFT']

In [8]:
print("Some of the commonly used libraries used by Data Scientists include:")
a = ["Tensorflow", "Numpy", "Scipy", "Matplotlib", "Scikit-leearn"]
s = sorted(a)
print(s)

Some of the commonly used libraries used by Data Scientists include:
['Matplotlib', 'Numpy', 'Scikit-leearn', 'Scipy', 'Tensorflow']

In [13]:
print("  Data Science Tools")
print("|____________________|")
print("  Rstudio")
print("|____________________|")
print("  Tensorflow")
print("|____________________|")
print("  Apache spark")
print("|____________________|")

  Data Science Tools
|____________________|
  Rstudio
|____________________|
  Tensorflow
|____________________|
  Apache spark
|____________________|

In [14]:
print("Below are a few examples of evaluating arithmetic expressions in Python")
a = 10
b = 9
print(a*b)

Below are a few examples of evaluating arithmetic expressions in Python
90

In [15]:
#This a simple arithmetic expression to mutiply then add integers
a = 3
b = 4
c = 5
print((a*b)+c)

17

In [16]:
m = 200
#This will convert 200 minutes to hours by diving by 60
h = m/60
print(h)

3.3333333333333335

In [17]:
print("Objectives:")
a = ["Python", "R", "SQL", "JAVA", "SWIFT"]
print(a)

Objectives:
['Python', 'R', 'SQL', 'JAVA', 'SWIFT']

In [18]:
print("Author")
print("Venu krithik bhogavelli")

Author
Venu krithik bhogavelli